@font-face {
    font-family: "Manrope Regular";
    src: url("../fonts/Manrope/static/Manrope-Regular.ttf");
}
@font-face {
    font-family: "Manrope Medium";
    src: url("../fonts/Manrope/static/Manrope-Medium.ttf");
}
@font-face {
    font-family: "Manrope SemiBold";
    src: url("../fonts/Manrope/static/Manrope-SemiBold.ttf");
}
@font-face {
    font-family: "Manrope Bold";
    src: url("../fonts/Manrope/static/Manrope-Bold.ttf");
}
@font-face {
    font-family: "Manrope ExtraBold";
    src: url("../fonts/Manrope/static/Manrope-ExtraBold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Manrope Regular', sans-serif;
    line-height: 27px;
    color:#E8EDF3;
}
img {
    max-width: 100%;
    height: auto;
}
ul {
    list-style: none;
}
li {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}
p {
    font-family: "Manrope SemiBold", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    color: #7780A6;
}
h1, h2, h3, h4, h5, h6 {
    color: #222447;
}

h1 {
    font-family: 'Manrope ExtraBold', sans-serif;
    font-size: 45px;
    font-weight: 800;
    line-height: 66px;
}
h2 {
    font-family: 'Manrope ExtraBold', sans-serif;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    font-weight: 800;
    color: #222447;
    padding-bottom: 70px;
    font-weight: 800;
}

h3 {
    font-family: 'Manrope Bold', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    color: #222447;
}
h4 {
    font-family: 'Manrope Bold', sans-serif;
    font-size: 20px;
    line-height: 35px;
    color: #222447;
}

h5 {
    font-family: 'Manrope Bold', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 35px;
    color: #222447;
}

section {
    margin: 50px 0;
}

header {
    background: url("../images/header-top-bg.svg") no-repeat center;
    background-size: cover;
    min-height: 93px;
}
header .header-logo {
    padding: 15px 0 20px;
    min-height: auto;
}

/* Hero */

.hero {
    margin-top: 43px;
}

.hero-btn {
    position: relative;
    background: linear-gradient(4.2deg, #1E2DA8 8.85%, #3C80E6 93.5%);
    border-radius: 34px;
    border: none;
    padding: 17px 70px 17px 30px;
    color: #ffffff;
}

.hero-btn:after {
    content: url(../images/arrow-submit.svg);
    position: absolute;
    margin-left: 15px;
    top: 55%;
    transform: translateY(-50%);
}

.hero-btn:hover {
    color: #ffffff;
    background: linear-gradient(4.2deg, #3C80E6 100%, #1E2DA8 8.85%);
}
.play-img {
    display: block;
}

.hero-img {
    background: url(../images/header-bg.svg) no-repeat;
    background-position: center bottom;
    position: relative;
}

.play-img {
    background: linear-gradient(180deg, #FE8335 0%, #FA593B 100%);
    border-radius: 50px;
    border: none;
    padding: 18px;
    margin-right: 20px;
}
.play-img:hover {
    background: linear-gradient(180deg, #FA593B 100% #FE8335 0%);
}

.play-img img{
    width: 22px;
    height: 22px;
    display: block;
}

.play-btn,
.play-btn:hover,
.play-btn:visited,
.play-btn:active,
.play-btn:focus,
.play-btn:focus-visible {
    border: none !important;

}

.el-1 {
    position: absolute;
    top: 24%;
    right: 41%;
}
.el-3 {
    position: absolute;
    right: 46%;
    top: 55%;
}
.el-4 {
    position: absolute;
    top: 26%;
    right: 20%;
    z-index: -3;
}

.el-5 {
    position: absolute;
    top: 42%;
    right: 18%;
}

.el-6 {
    position: absolute;
    top: 35%;
    right: 18%;
}

.el-7 {
    position: absolute;
    top: 55%;
    right: 17%;
}

.el-8 {
    position: absolute;
    right: 20%;
    top: 60%;
}

.cards {
    position: relative;
}

.license {
    background: #FFFFFF;
    box-shadow: 0px 4px 29px rgba(59, 99, 128, 0.2);
    border-radius: 15px;
    width: 150px;
    padding: 0 0 17px 0;
    position: absolute;
    z-index: 10;
}

.skills {
    left: 100%;
    top: 20%;
}
.license {
    right: 20%;
    top: 0;
}
.license h5,
.skills h5 {
    font-size: 12px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.15em;
    border-radius: 15px 15px 0px 0px;
}

.license h5 {
    background: #1E2DA8;
    color: #FFFFFF;
    text-transform: uppercase;
}

.skills h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 35px;
    color: #222447;
}

.license h5 span,
.skills h5 span {
    padding: 3px 16px 7px;
    display: block;
}

.license-body {
    padding: 0 30px;
}

/* Students Reviews */

.star {
    background: url(../images/star-yellow-big.svg) 100% / 100% no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 8px;
    display: inline-block;
}
.star.empty {
    opacity: .5;
}

.student-reviews .card {
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 29px rgba(59, 99, 128, 0.2);
    border-radius: 35px;
    min-height: 370px;
}
.student-reviews .card-body {
    padding: 38px 48px 40px;
}

.student-reviews .card-title {
    font-family: 'Manrope Bold', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    color: #222447;
}

.student-reviews .card-text {
    font-family: 'Manrope SemiBold', sans-serif;
    font-size: 18px;
    line-height: 35px;
    color: #7780A6;
}

.insta-link {
    font-family: 'Manrope Medium', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 35px;
    color: #7780A6;
    text-decoration: none;
}

/* Ed Programs */

.star-sm {
    background: url(../images/star-yellow-small.svg) 100% / 100% no-repeat;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    display: inline-block;
}
.star-sm.empty {
    opacity: .5;
}

/* Find Place */

.find-place {
    background: #1E2DA8;
    box-shadow: 0px 16px 29px rgba(59, 99, 128, 0.35);
    border-radius: 35px;
    padding: 56px 140px 47px;
}

.find-place h2,
.find-place p {
    color: #ffffff;
}
.find-form .row{
    gap: 80px;
}

.find-form label {
    font-family: "Manrope Medium", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
}

.find-form .nf-form-content label {
    color: #7780A6;
}

.find-form .nf-form-content select.ninja-forms-field {
    color: #ffffff;
}

.find-form .nf-field-element {
    border: none;
}

.find-form .nf-form-content .list-select-wrap>div select {
    background: #0D1C93;
    border-radius: 8px;
}

h2.new {
    font-size: 45px;
    font-weight: 800;
    line-height: 66px;
    letter-spacing: 0.1em;
    color: #FE8335;
}

/* Ed Programs */

.ed-programs {
    background: linear-gradient(180deg, #F4F5F8 0%, rgba(244, 245, 248, 0) 100%);
}

.ed-programs h2 {
    padding-top: 100px;
    padding-bottom: 5px;
}

.ed-programs h3 {
    padding-bottom: 30px;
}

.ed-programs .card {
    background: #FFFFFF;
    border: none;
    box-sizing: border-box;
    box-shadow: 0px 4px 29px rgba(59, 99, 128, 0.2);
    border-radius: 35px;
}

.card-cap {
    border-radius: 35px 35px 0px 0px;
    width: 100%;
}

.card-1 .card-cap {
    background: linear-gradient(180deg, #FE8335 0%, #FA593B 100%);
}

.card-2 .card-cap {
    background: linear-gradient(271.59deg, #5393F3 -3.28%, #78C6FF 99.96%);
}

.card-3 .card-cap {
    background: linear-gradient(271.59deg, #53D8B0 -3.28%, #B3DE7D 99.96%);
}