@media (min-width: 1200px) {

}

@media (max-width: 1200px) {
    .card-body-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card-body-row > * {
        width: 80%;
    }

    .get-license .container .row {
        flex-direction: column;
        align-items: center;
        
    }
}

@media screen and (min-width: 992px) {
    .container-small {
        max-width: 910px;
    }
}
@media screen and (max-width: 991px) {
    header {
        background: url("../images/header-top-bg.svg") no-repeat left center;
    }

    .find-form .row {
        gap: 0;
    }

    .student-reviews .card,
    .ed-programs .card {
        margin-bottom: 40px;
    }

}
@media screen and (max-width: 767px) {

}
